.pdt-card{
  position: relative;
  background: #FEFEFE;
  box-shadow: 0px 1px 3px 0px rgba(35,35,35,0.15);
}

.pdt-card__wrapper{
  padding-top: 25px;
  padding-bottom: 25px;
}

.pdt-card > * {
  padding-left: 15px;
  padding-right: 15px;
}

.pdt-card__title{
  border-bottom: 1px solid #EBEDED;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pdt-card__title h3 {
  margin: 0;
}

.pdt-card__title__buttons{
  position: absolute;
  top: 10px;
  right: 15px;
}

.icon-edit{
  cursor:pointer;
}

.pdt-card__title__buttons .button:first-child{
  margin-right: 5px;
}

.pdt-card__section{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EBEDED;
}

.contact-card{
  padding-top: 15px;
}

.contact-card.edit{
  padding-top: 35px;
}

.contact-card .active-since{
  margin-top: 15px;
  font-size: 11px;
}

.contact-card .active-since__label{
  font-weight: 400;
  padding-right: 5px;
}

.contact-card .active-since__date{
  font-weight: 300;
}

.contact-card__field{
  font-size: 11px;
  margin-bottom: 15px;
}

.contact-card__field__label{
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
}

.contact-card__field__value{
  display: block;
  font-weight: 300;
}

.contact-card__title__buttons {
  position: absolute;
  right: 15px;
  top: 15px;
}

.contact-card__title__buttons .button:first-child{
  margin-right: 5px;
}

.pdt-card__footer{
  border-top: 1px solid #EBEDED;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}

.pdt-card__footer .button:first-child{
  margin-right: 10px;
}


.pdt-card__title > * {
  margin: 0;
}
