.header{
  box-shadow: inset 0px -1px 0px 0px rgba(35, 35, 35, 0.3);
  height: 65px;
  position: relative;
  background-color: #4A5D7C;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/hypnotize.png);
  /*background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/topography.png);
  */
  background-blend-mode: multiply;
}

.header__logo__img {
  color: #FEFEFE;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  margin: 0;
  line-height: 65px;
}
